<%- include ('partials/header.ejs'); -%>

<%- include ('partials/main_nav.ejs'); -%>

<div class="container">
        <section id="about-me">
          <div class="column-2">
            <h1>About me</h1>
            <p>
              I am currently in my 3rd semester in Centennial College. What I've been
              learning so far is mostly front-end stuff, a little bit of python here
              and there as well. I am interested in learning more about UI/UX design and
              game development as well.
            </p>
            <section class="resume">
        <button type="button" class="btn btn-warning">
          <a href="Cogie Cruz - Resume.pdf" class="file" download="newfilename">Download my resume</a>
        </button>
      </section>
          </div>
        </section>
      </div>


<%- include ('partials/bottom_nav.ejs'); -%>

<%- include ('partials/footer.ejs'); -%>