<%- include ('partials/header.ejs'); -%>

<%- include ('partials/main_nav.ejs'); -%>

  <!-- Main Content -->
  <section id="welcome-message" class="d-flex h-100 text-center text-dark">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      
        <main class="px-3">
          <h1>Welcome to my Personal Portfolio site</h1>
          <p class="lead">Newbie developer who aspire to be in the front-end scene.</p>
          <p class="lead">Currently trying to learn and master HTML, CSS and JavaScript. </p>
        </main>
    </section>

    <!-- mission statement section -->
    <section id="mission-statement" class=" h-100 text-center">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
          <h1>Mission Statement</h1>
          <p class="lead">To gain knowledge that I can utilise to better myself and the world around me in the workplace and in my daily life.</p>
        </main>
      </div>
    </section>
<div class="container">
    &nbsp;
    &nbsp;
    <a class="btn btn-primary" href="/about" role="button">About Me</a>
    <a class="btn btn-primary" href="/contact" role="button">Contact Me</a>
</div>

<%- include ('partials/bottom_nav.ejs'); -%>

<%- include ('partials/footer.ejs'); -%>
  
 <!--Cogie Cruz Centennial College 301133276 SUMMER 2022--> 





