<%- include ('partials/header.ejs'); -%>

<%- include ('partials/main_nav.ejs'); -%>
 


  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
  <h1 class="display-8">My Projects</h1>
 

</div>

<body>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="Assets/images/snekgame.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Snake Game</h5>
      <p class="card-text">Project 1</p>
      <p class="card-text"><small class="text-muted">First Java Game I made is a snake game back in high school!</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="Assets/images/BMRCalc.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">BMR Calculator</h5>
      <p class="card-text">Project 2</p>
      <p class="card-text"><small class="text-muted">BMR Calculator I made last semester!</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="Assets/images/fitnessplanner.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Fitness Plan App</h5>
      <p class="card-text">Project 3</p>
      <p class="card-text"><small class="text-muted">Future project in my mind is a fitness planner.</small></p>
    </div>
  </div>
</div>

  
</body>


</main>

<%- include ('partials/bottom_nav.ejs'); -%>

<%- include ('partials/footer.ejs'); -%>