<%- include ('partials/header.ejs'); -%>

<%- include ('partials/main_nav.ejs'); -%>



<!-- Main Content -->
<section id="services">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">These are my Services</h1>
          <p class="lead">Offering front-end services</p>
          <hr>
          <br>

          <h2>These are the technologies that I am currently working with:</h2>
        </div>
      </div>
      <br>
      <hr>


      <!-- comment -->
      <div class="row">
        <div class="col-sm-6" style="width: 18rem">
            <div class="card">
              <img class="card-img-top" src="Assets/images/HTML.png" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">HTML</h5>
                  <p class="card-text">Simple HTML to kickstart your website! </p>
              </div>
          </div>
        </div>
        <div class="col-sm-6 first-card" style="width: 18rem">
          <div class="card">
            <img class="card-img-top" src="Assets/images/CSS.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">CSS</h5>
                <p class="card-text">CSS to give your website a beautiful/cool design.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6" style="width: 18rem">
            <div class="card">
              <img class="card-img-top react-img" src="Assets/images/pygame1.png" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">Pygame</h5>
                  <p class="card-text">Pygame is a basic Python module designed to for writing video games. </p>
              </div>
            </div>
          </div>
            </div>
          </div>
      </div>
</section>


<%- include ('partials/bottom_nav.ejs'); -%>

<%- include ('partials/footer.ejs'); -%>